<app-navbar></app-navbar>
<mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let pokemon of pokeList">
        <app-card [data]="pokemon"></app-card>
    </mat-grid-tile>
    
</mat-grid-list>

<div class="btns">
    <button [disabled]="page === 0" mat-fab color="primary" aria-label="Prev button" (click)="prevPage()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-fab color="warn" aria-label="Next button" (click)="nextPage()">
        <mat-icon>arrow_forward</mat-icon>
    </button>
</div>


